<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student grade Info</title>
    </head>
    <body>
        <h1>Hello {{fullName}} </h1>
        <table>
            <tr>
                <th>Students</th>
                <th>Grades</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td>{{course.student}}</td>
                    <td>{{course.studentGrade}}</td>
                </tr>
            {% endfor %}
        </table>

        <form action="/edit" method="POST">
            <input type="hidden" name="course_name" value="{{course_name}}" />
            <label for="editStu">Full Name:</label><br>
            <input type="text" id="editStu" name="editStudent" /><br>
            <label for="editGrade">New Grade:</label><br>
            <input type="text" id="editGrade" name="editGrade" />
            <button type="submit">Edit</button>
        </form>

        <a href="{{url_for('ProfessorDash')}}">Go back</a>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style3.css')}}">
    </body>
</html>
