<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
</head>
<body>
    <h1>Hello {{fullName}} </h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Professor</th>
            <th>Time</th>
            <th>Students Enrolled</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td> <a href="{{ url_for('StudentInfo', course_name=course.courseName) }}">{{course.courseName}}</a></td>
                <td>{{course.professor}}</td>
                <td>{{course.time}}</td>
                <td>{{courseDict[course.courseName]}} / {{course.capacity}}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{url_for('logout')}}">Logout</a>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style3.css')}}">
</body>
</html>